@page "/"

<div style="margin-top: 2rem;">
    <img src="saitlogo.png" alt="SAIT Logo" style="height: 60px;" />
</div>

<div style="margin-top: 1rem;">
    <h1>Hello, SAIT students!</h1>
    <p>Welcome to your new app. We are excited to have you here.</p>
</div>
